---
import { Picture } from 'astro:assets';

import ButtonContact from '@/components/ButtonContact.astro';
import Layout from '@layouts/Layout.astro';
import JoinOurBlog from '@/components/JoinOurBlog.astro';
import ImgElHack from '@assets/elhack-negro.png';

const cardHover =
   'border border-white/5  transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 cursor-pointer';
---

<Layout title="El hack">
   <div class="container mx-auto px-4">
      <!-- Título principal -->
      <div
         class="mt-32 mb-6 flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-4 text-center md:text-left"
         data-aos="fade-down"
      >
         <h2 class="text-2xl md:text-4xl font-bold text-white">Te presentamos</h2>

         <Picture src={ImgElHack} alt="El Hack" class="w-28 md:w-32 h-auto" />
      </div>
      <!-- Descripción inicial -->
      <div class="mt-5 flex items-center justify-center" data-aos="fade-up">
         <p class="max-w-2xl text-sm md:text-xl text-justify text-white">
            EL HACK es la herramienta tecnológica diseñada por <span class="text-purple_mv font-bold">Movapp</span> para
            proteger tu información personal cuando estás siendo afectado por aplicaciones no reguladas, también llamadas
            montadeudas.
         </p>
      </div>

      <!-- Card central -->

      <div data-aos="fade-up">
         <div
            class={`mt-10 mx-auto max-w-2xl p-3 rounded-2xl shadow-md 
         ${cardHover} `}
         >
            <h2 class="mb-3 text-lg md:text-2xl font-bold text-center text-white">
               EL HACK es la solución que buscabas
            </h2>
            <p class="text-sm md:text-lg text-justify text-white">
               Si estás siendo víctima de amenazas digitales o te han hecho pagar deudas ficticias, EL HACK es la
               solución confiable y efectiva que estabas buscando.
            </p>
         </div>
      </div>
      <!-- Título proceso -->
      <div class="mt-10 mb-2 mx-auto flex items-center justify-center" data-aos="fade-up">
         <h2 class="max-w-md text-lg md:text-2xl font-bold text-center text-white">
            ¿Cómo funciona el proceso para adquirir EL HACK?
         </h2>
      </div>

      <!-- Pasos -->
      <div class="mt-10 px-4 flex flex-col items-center space-y-4">
         <div class="w-full max-w-2xl">
            <p class="text-sm md:text-xl font-bold text-left text-white" data-aos="fade-up">
               Paso 1. Contacta a nuestro equipo por <span class="text-green-500 font-bold">WhatsApp</span>
            </p>
            <p class="text-xs md:text-lg text-justify text-white" data-aos="fade-up">
               Nuestro equipo está capacitado para atenderte con empatía y de manera profesional.
            </p>

            <p class="mt-6 text-sm md:text-xl font-bold text-left text-white" data-aos="fade-up">
               Paso 2. Te canalizamos con un asesor.
            </p>
            <p class="text-xs md:text-lg text-justify text-white" data-aos="fade-up">
               Recibirás soluciones y recomendaciones específicas para resolver tu problema.
            </p>

            <p class="mt-6 text-sm md:text-xl font-bold text-left text-white" data-aos="fade-up">
               Paso 3. Te damos la solución.
            </p>
            <p class="text-xs md:text-lg text-justify text-white" data-aos="fade-up">
               Forma parte de las más de un millón de personas que hemos ayudado y vive EL HACK hacia un nuevo inicio.
            </p>
         </div>
      </div>

      <!-- CTA -->

      <div data-aos="fade-up">
         <div
            class={`mx-auto my-10 w-full max-w-md px-6 py-10 
              flex flex-col items-center justify-center text-center 
              rounded-2xl shadow-md 
              
              ${cardHover}`}
         >
            <h3 class="text-sm sm:text-xl font-semibold mb-4 text-white">Quiero aplicar EL HACK</h3>
            <ButtonContact />
         </div>
      </div>

      <!-- Blog -->
      <!-- <section class="mt-10 flex flex-col items-center">
    <JoinOurBlog />
  </section> -->
   </div>
</Layout>
