---

import ButtonContact from "@/components/ButtonContact.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout>

  <div class="bg-gradient-to-br from-gray-300 to-white text-gray-800 min-h-screen pt-24 my-0 rounded-lg">
  
  
  
  <section class=" text-center 
  max-w-5xl mx-auto bg-white/70 backdrop-blur-md rounded-lg shadow-lg
  my-10">
    <h2 class="text-xl font-medium text-gray-700">Tu Protección Digital Comienza Aquí</h2>
    <h1 class="text-3xl sm:text-5xl font-bold mt-2">
      ¿Has sido <span class="text-purple-600">Víctima de Aplicaciones de Préstamo No Reguladas?</span>
    </h1>
  <ButtonContact/>
  </section>




  </div>

</Layout>