---

import ButtonContact from "@/components/ButtonContact.astro";
import Layout from "@layouts/Layout.astro";
import JoinOurBlog from "@/components/JoinOurBlog.astro";

const cardHover = "transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 cursor-pointer";
---

<Layout>




    <section class=" flex flex-col items-center ">
  
        <!-- Únete a nuestro blog -->
         <JoinOurBlog />
      </section>

</Layout>