---
import "@styles/global.css";


import Layout from "@layouts/Layout.astro";
import HackCard from "@/components/HackCard.jsx";

const cardHover = "transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 cursor-pointer";
---

<Layout>

    <div class="flex items-center justify-center mt-2 space-x-4 mb-4">
        <h2 class="text-gray-600 text-4xl font-bold">
            Protege Tu Información Digital Con El Hack        </h2>
    </div>
    
    <div class="flex items-center justify-center mt-6 space-x-4">
        <p class="text-gray-500 text-xl text-center max-w-xl">
            En Movapp, ofrecemos la protección que necesitas contra aplicaciones no reguladas que están comprometidas con tu seguridad. Con El Hack, podrás bloquear el acoso digital y recuperar el control de tu vida privada.        <p/>
    </div>


    
    <h2 class="text-gray-600 text-lg text-center mt-6 font-bold">
        Selecciona tus hacks
    </h2>
  
    <div class="flex flex-col max-w-2xl mx-auto mt-6">
            <div class={`bg-white rounded-lg shadow-md p-6 flex flex-col ${cardHover} my-2`}>
            <h3 class="text-lg text-left font-semibold mb-2">Paso 1:
            </h3>
            <p class="text-gray-600">
                Si aún no lo has hecho, contáctanos por WhatsApp. Evaluaremos si podemos ayudarte y te daremos indicaciones.
            </p>
          </div>
          <div class={`bg-white rounded-lg shadow-md p-6 flex flex-col ${cardHover} my-2`}>
            <h3 class="text-lg text-left font-semibold mb-2">Paso 2:
            </h3>
            <p class="text-gray-600">Te canalizamos con un asesor que te indicará la cantidad de Hacks que debes adquirir.</p>
          </div>
          <div class={`bg-white rounded-lg shadow-md p-6 flex flex-col ${cardHover} my-2`}>
            <h3 class="text-lg text-left font-semibold mb-2">Paso 3:
            </h3>
            <p class="text-gray-600">Finaliza tu compra y vive El Hack hacia un nuevo inicio. </p>
          </div>

    </div>

    <HackCard client:load />

</div>

</Layout>