---
import { Picture } from 'astro:assets';
import ImgWhatsapp from '@assets/whatsapp-logo.png';
import { URLS } from "@constants/socials.ts";

---



<a
  href={URLS.whatsapp.oficial}
  class="
    inline-flex items-center gap-2
   px-4
    py-2
    text-sm text-white
    bg-green-500 hover:bg-green-600
    rounded-3xl transition
  "
  target="_blank" rel="noopener noreferrer"
>
   <Picture src={ImgWhatsapp}
    alt="Whatsapp"
     class="h-4 w-4 md:h-6 md:w-6" />
  <span >Contáctanos</span>
</a>
