<footer class="bg-gradient-to-r from-purple-500 to-indigo-500
text-white p-5 
rounded-3xl flex flex-col 
md:flex-row items-center justify-between gap-4
mx-16 shadow-lg 
mt-8 mb-16">

  <!-- Logo y descripci贸n -->
  <div class="text-center md:text-center max-w-md">
    <h2 class="text-2xl font-bold">movapp</h2>
    <p class="text-sm">by Erik Mann</p>
    <p class="mt-2 text-sm">
      Movapp es una organizaci贸n que ayuda a personas v铆ctimas de las aplicaciones de pr茅stamo no reguladas mediante apoyo psicol贸gico, asesor铆a personalizada y la aplicaci贸n del Hack.
    </p>
  </div>

  <!-- Redes sociales y derechos -->
  <div class="text-center md:text-center flex flex-col items-center ">
    <div class="flex justify-center md:justify-end gap-4 mb-2 text-lg">
      <a href="#" aria-label="YouTube" class="hover:text-gray-300"></a>
      <a href="#" aria-label="TikTok" class="hover:text-gray-300"></a>
      <a href="#" aria-label="Facebook" class="hover:text-gray-300"></a>
      <a href="#" aria-label="Instagram" class="hover:text-gray-300"></a>
    </div>
    <p class="text-sm">
      Movappbyerikmann 漏 - Todos Los Derechos Reservados - 2025
    </p>
  </div>
</footer>