---
// const cardHover = "transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 cursor-pointer";
const cardHover = "transition duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 hover:scale-105 hover:bg-white/40 hover:backdrop-blur-md cursor-pointer";

---



<section class="flex flex-col items-center justify-center px-6 py-5 mt-5  ">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full max-w-5xl">
    

    <div class={`bg-white rounded-2xl shadow-md p-6 ${cardHover}`}>
      <h3 class="font-semibold text-gray-800 mb-3">Acerca de Nosotros</h3>
      <ul class="space-y-1 text-sm text-gray-700">
        <li>
          <a href="/movapp" class="hover:text-purple-300">Movapp</a>
        </li>
        <li>
          <a href="/hack" class="hover:text-purple-300">Hack</a>
        </li>
      
        <li><a href="#">Colaboradores</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Testimonios</a></li>
      </ul>
    </div>


    <div class={`bg-white rounded-2xl shadow-md p-6 ${cardHover}`}>
      <h3 class="font-semibold text-gray-800 mb-3">Contenido</h3>
      <ul class="space-y-1 text-sm text-gray-700">
        <li><a href="#">Mente digital</a></li>
        <li><a href="#">Nuestras redes sociales</a></li>
        <!-- <li><a href="#">Blog</a></li> -->
        <!-- <li><a href="#">Vexi</a></li> -->
      </ul>
    </div>


    <div class={`bg-white rounded-2xl shadow-md p-6 ${cardHover}`}>
      <h3 class="font-semibold text-gray-800 mb-3">Adquiere El Hack</h3>
      <ul class="space-y-1 text-sm text-gray-700">
        <li>
          <a href="/tienda" class="hover:text-purple-300">Tienda</a>
        </li>
        <li><span class="font-semibold">Legal</span></li>
        <li><a href="#">Política de privacidad</a></li>
      </ul>
    </div>

  </div>
</section>

<footer class="bg-gradient-to-r from-purple-500 to-indigo-500
text-white p-5
rounded-3xl flex flex-col 
md:flex-row items-center justify-between gap-4
mx-8 md:mx-16 shadow-lg 
mt-8 mb-16">

  <!-- Logo y descripción -->
  <div class="text-center md:text-center max-w-md">
    <img src="/Logo-Blanco.png" alt="Movapp Logo" class="w-32 h-auto mx-auto my-4" />
 
    <p class="mt-2 text-sm">
      Movapp es una organización que ayuda a personas víctimas de las aplicaciones de préstamo no reguladas mediante apoyo psicológico, asesoría personalizada y la aplicación del Hack.
    </p>
  </div>

  <!-- Redes sociales y derechos -->
  <div class="text-center md:text-center flex flex-col items-center ">
    <div class="flex justify-center md:justify-end gap-4 mb-2 text-lg">
      <a href="#" aria-label="YouTube" class="hover:text-gray-300">   
         <img src="/logo-youtube.png" alt="youtube" class="w-7 h-auto mx-auto my-4" />
      </a>
      <a href="#" aria-label="TikTok" class="hover:text-gray-300"><img src="/logo-tiktok.png" alt="tiktok" class="w-7 h-auto mx-auto my-4" /></a>
      <a href="#" aria-label="Facebook" class="hover:text-gray-300"><img src="/logo-facebook.png" alt="facebook" class="w-7 h-auto mx-auto my-4" /></a>
      <a href="#" aria-label="Instagram" class="hover:text-gray-300"><img src="/logo-instagram.png" alt="instagram" class="w-7 h-auto mx-auto my-4" /></a>
    </div>
    <p class="text-sm">
      Movappbyerikmann © - Todos Los Derechos Reservados - 2025
    </p>
  </div>
</footer>