<footer class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white py-10 mt-12 mx-5 rounded-lg">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 text-sm px-6">
      <div>
        <h4 class="font-semibold mb-2">Acerca de Nosotros</h4>
        <ul>
          <li>Movapp</li>
          <li>Colaboradores</li>
          <li>Hack</li>
          <li>Preguntas frecuentes</li>
          <li>Testimonios</li>
        </ul>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Contenido</h4>
        <ul>
          <li>Mente digital</li>
          <li>Redes sociales</li>
          <li>Blog</li>
          <li>Vexi</li>
        </ul>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Adquiere El Hack</h4>
        <ul>
          <li>Tienda</li>
        </ul>
      </div>
      <div>
        <h4 class="font-semibold mb-2">Legal</h4>
        <ul>
          <li>Política de privacidad</li>
        </ul>
      </div>
    </div>
    <div class="text-center text-xs mt-8">
      Movapp by Erik Mann © - Todos los derechos reservados - 2025
    </div>
  </footer>
  