---
import ButtonContact from "@components/ButtonContact.astro";
import MenuMobile from "@components/MenuMobile.astro";
import ArrowIcon from '@assets/ArrowIcon.astro';
---

<header
  class="h-16 mt-3 fixed left-4 right-14 md:right-4 z-50
         top-4 md:top-6 lg:top-8 xl:top-10
         w-auto max-w-none bg-white/50 backdrop-blur-md
         shadow-lg px-8 py-4 rounded-4xl
         flex justify-between items-center rounded-3xl 
         md:h-20 md:-mt-5"
>
  <div class="flex items-center gap-2">
    <img
      src="/Logo-Morado.png"
      alt="Movapp Logo"
      class="hidden md:block w-32 h-auto mx-auto my-4 transition-all duration-300"
    />

    <img
      src="/Logo-M.png"
      alt="Movapp Logo pequeño"
      class="block md:hidden w-10 h-auto mx-auto transition-all duration-300"
    />
  </div>

  <nav class="hidden md:flex gap-6 text-sm text-gray-700 justify-end w-full">
    <a href="/" class="hover:text-purple-300">Inicio</a>
    <a href="/movapp" class="hover:text-purple-300">Movapp</a>
    <a href="/hack" class="hover:text-purple-300">Hack</a>
    <a href="/tienda" class="hover:text-purple-300">Tienda</a>

    <!-- Nuevo ítem de menú con submenú y flecha -->
    <div class="relative">
      <button
        id="servicesButton"
        class="flex items-center gap-2 hover:text-purple-300"
      >
        <span>Contenido</span>
        <ArrowIcon class="text-gray-800" id="arrowIcon" size={4} />
      </button>

      <!-- Submenú con fondo transparente -->
      <div id="submenu" class="absolute right-0 mt-8 w-48 bg-white/80 backdrop-blur-md rounded-lg p-3 hidden z-50">
        <a href="/faqs" class="block py-1 text-sm text-gray-700 hover:bg-gray-200 rounded-lg px-2">Preguntas frecuentes</a>
        <a href="/servicio2" class="block py-1 text-sm text-gray-700 hover:bg-gray-200 rounded-lg px-2">Testimonios</a>
        <a href="/servicio3" class="block py-1 text-sm text-gray-700 hover:bg-gray-200 rounded-lg px-2">Mente digital</a>
        <a href="/servicio3" class="block py-1 text-sm text-gray-700 hover:bg-gray-200 rounded-lg px-2">Nuestras redes</a>
      </div>
    </div>
  </nav>


  <MenuMobile />
</header>

<script>
  const servicesButton = document.getElementById('servicesButton');
  const submenu = document.getElementById('submenu');
  const arrowIcon = document.getElementById('arrowIcon');

  // Manejar el clic para desplegar/ocultar el submenú
  servicesButton.addEventListener('click', () => {
    // Alternar la visibilidad del submenú
    submenu.classList.toggle('hidden');
    
    // Rotar la flecha
    arrowIcon.classList.toggle('rotate-180');
  });
</script>
