<div class="w-full bg-red-500 text-white text-center text-sm h-6 md:h-8 flex items-center justify-center">
   <a
      href="${import.meta.env.PUBLIC_SHOW_HEADER_URL}"
      class="pulsing-text font-semibold underline hover:text-yellow-200 transition-colors duration-200"
      target="_blank"
      rel="noopener noreferrer"
   >
      Hoy transmisión en vivo !!
   </a>
</div>

<style>
   @keyframes pulse-text {
      0%,
      100% {
         opacity: 1;
      }
      50% {
         opacity: 0.5;
      }
   }

   .pulsing-text {
      animation: pulse-text 2s ease-in-out infinite;
   }

   /* Eliminar el padding y el margen por defecto */
   a {
      padding: 0; /* Elimina cualquier padding */
      margin: 0; /* Elimina cualquier margen */
      line-height: 1; /* Asegura que la altura de la línea esté ajustada */
   }

   /* Para evitar cualquier espacio adicional en el contenedor */
   .w-full {
      margin-bottom: 0 !important; /* Asegúrate de que no haya márgenes adicionales */
   }
</style>
