<div class="max-w-2xl w-full space-y-4 text-center">
  <p class="font-bold text-lg">
    Únete al blog de la familia Movapp. Recibe tips de seguridad, consejos para salir adelante y novedades sobre apps montadeudas.
  </p>
  <form class="flex flex-col gap-4 items-center sm:flex-row">
    <input
      type="email"
      placeholder="Ingresa tu correo"
      class="w-full flex-1 rounded-full border border-gray-300 bg-white px-4 py-2 shadow-inner text-sm"
    />
    <button
      type="submit"
      class="rounded-full bg-purple_mv px-6 py-2 text-sm text-white transition hover:bg-purple_mv"
    >
      Mantente al día
    </button>
  </form>
  <p class="text-left text-sm text-gray-500 px-5">
    Al proveer tu correo aceptas nuestra
    <a href="#" class="font-bold underline">política de privacidad</a>.
  </p>
</div>
